:root {
    /* https://www.carbondesignsystem.com/guidelines/color/usage Gray 90 */
    --ui-background: #262626;
    --link-01: #78a9ff;
    --text-01: #f4f4f4;
}
body {
    display: grid;
    place-content: center;
    background-color: var(--ui-background);
    color: var(--text-01);
    font-family: Helvetica, sans-serif;
}
img.bss-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
}
a {
    color: var(--link-01);
}
table {
    border-collapse: collapse;
    border: 1px solid white;
}
th, td {
    border-bottom: 1px solid white;
}
td, th {
    padding: 0.125rem 0.5rem;
}
th {
    text-align: left;
}
